.dogsPageWrapper{
  display: flex;
  justify-content: center;
}

.dogsPage {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 360px;
  &-container {
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    h3{
      margin: 0;
      text-align: center;
    }
    h4{
      margin: 10px 0 40px 0;
      text-align: center;

    }
  }
  &-header {
    display: flex;
    justify-content: center;
    
    align-content: center;
    margin: 2rem;
    text-align: center;
  }
  &-filters {
    display: flex;
    justify-content: space-between;
    

    margin: 0 2rem 2rem 2rem;
    select {
      background-color: #2f80ed;
      color: white;
      padding: 0 12px;

      max-width: 286px;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
height: 48px;
      
    }
    button {
      max-width: 200px;
      height: 48px;
      margin: 0;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    }
    &--labelFilter{
      display: flex;
      flex-direction: column;
    }
  }
  &-pageButtonsWrapper {
    display: flex;
    justify-content: center;
  }
  &-pageButtons {
    margin: 1rem 3rem;
    width: 1270px;
    display: flex;
    justify-content: space-between;
    button {
      
      width: 150px;
    }
  }
}
@media screen and (max-width:600px){
 .dogsPage{
  font-size: 10px;
  &-filters {
    display: flex;
    justify-content: space-between;
    

    margin: 0 1rem 2rem 1rem;
    select {
      background-color: #2f80ed;
      color: white;
      padding: 0 12px;

      max-width: 108px;
      border: none;
      border-radius: 8px;
      font-size: 10px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
height: 48px;
      
    }
    button {
      max-width: 108px;
      height: 48px;
      margin: 0;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      font-size: 10px;
    }
    &--labelFilter{
      display: flex;
      flex-direction: column;
    }
  }
 }

    }
