.home {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/woman-with-dog-outside-1558449251.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-title {
    max-height: 300px;
   

    overflow: hidden;
  }
  &-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &-loginWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &-loginPeel {
    margin: 6rem 10rem 0 0;
  }
  &-loginBox {
    background-color: aliceblue;
    border: 4px solid #2f80ed;
    width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-loginElement {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width:500px){
.home{
  background-image: none;
  &-title{
    display: none;
  }
  &-loginBox{
    height: 800px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

  }
}
}
