//html reset
// * {
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   width: 100%;
// }
.vsc-initialized {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

.app {
  font-family: "Underdog", cursive;
  overflow: hidden;
  // display: flex;

  &-redpill {
    background-color: #073653;
    color: #78c475;
    button {
      background-color: #073653;
      color: #78c475;
    }
  }
  &-bluepill {
    background-color: #fff9ca;
    color: #ffb4b4;
    button {
      background-color: #fff9ca;
      color: #ffb4b4;
    }
  }
}
