.NavWrapper{
  display: flex;
  justify-content: center;

}
.Nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2rem;

  &-title {
    display: flex;
    align-items: baseline;
    h3 {
      margin-left: 2rem;
    }
  }
  button {
    width: 200px;
  }
}
